<h4>Counter Parent</h4>

<button type="button" (click)="increase()">Increase</button>
<button type="button" (click)="decrease()">Decrease</button>

<ng-content></ng-content>

<!-- @ViewChild & @ViewChildren -->
<!-- <app-counter></app-counter> -->
<!--
<h3>For Quality Product</h3>
<app-counter forcount="Quality"></app-counter>

<h3>For Item Sale</h3>
<app-counter forcount="Sale"></app-counter>

<h3>for Purchase Items</h3>
<app-counter forcount="Purchase"></app-counter>
<h3>For Quality Product</h3>
<app-counter forcount="Quality"></app-counter> -->
