<h1>LifeCycle Hooks Example</h1>

<!-- ngOnChanges Example -->
<!-- <app-parent></app-parent> -->

<!-- ngAfterContentInit Exapmle -->
<!-- <app-one>
  <app-two></app-two>
</app-one> -->
<!-- <app-teacher></app-teacher> -->

<!-- @ViewChild Example -->

<!-- <app-counter-parent></app-counter-parent> -->

<!-- @ViewChild Using CustomDirective Example -->
<!-- <app-parent-color></app-parent-color> -->

<!-- @ViewChild Using TemplateReferance Example -->
<!-- <app-theme></app-theme> -->

<!-- @ViewChildren Example -->
<!-- <app-counter-parent></app-counter-parent> -->
<!-- @ViewChildren Using CustomDirective Example -->
<!-- <app-parent-color></app-parent-color> -->
<!-- @ViewChildren Using TemplateReferance Example -->
<!-- <app-theme></app-theme> -->
<!-- QueryList(find,filter,map) -->
<!-- <app-counter-parent></app-counter-parent> -->

<!-- @ContentChild Example -->

<!-- <app-counter-parent>
  <app-counter></app-counter>
  <app-counter></app-counter>
  <app-counter></app-counter>
</app-counter-parent> -->
<!--
<app-parent-color>
  <h1 appChangecolor>Dheeraj jaiswal</h1>
  <h1 appChangecolor>Dheeraj jaiswal</h1>
  <h1 appChangecolor>Dheeraj jaiswal</h1>

  <div>
    Change Color:
    <input type="radio" name="radio" (click)="changecolor('green')" /> Green
    <input type="radio" name="radio" (click)="changecolor('orangered')" />
    OrangeRed
    <input type="radio" name="radio" (click)="changecolor('teal')" />Teal
  </div>
</app-parent-color> -->

<!-- <app-theme>
  <div>
    Name: <input type="text" #name /> <br />
    Age :<input type="text" #age /> <br />
  </div>
  <div>
    Name: <input type="text" #name /> <br />
    Age :<input type="text" #age /> <br />
  </div>
  <div>
    Name: <input type="text" #name /> <br />
    Age :<input type="text" #age /> <br />
  </div>
</app-theme> -->
<!-- Subject , Behaviour Subject , Reply subject -->
<app-behaviour-subject></app-behaviour-subject>
